<!DOCTYPE html>
<html>
  <head>
    <title>Example Form</title>
  </head>
  <body>
    <h1>Example Form</h1>
    <form action="/submit" method="POST">
      <label for="science">Science:</label><br>
      <input type="number" name="science" id="science" required><br><br>
      
      <label for="math">Math:</label><br>
      <input type="number" name="math" id="math" required><br><br>
      
      <label for="english">English:</label><br>
      <input type="number" name="english" id="english" required><br><br>
      
      <label for="programming">Programming:</label>
      <input type="number" name="programming" id="programming" required><br><br>
      
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
